.bodyWrapper {
  display: flex;
  height: 550px;
  top: 0px;
}
.there {
  margin-top: 163px;
  margin-bottom: 12px;
  width: 86px;
  height: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #2351dc;
}
.name {
  margin-bottom: 12px;
  width: 385px;
  height: 33px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2351dc;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.themes {
  width: 591px;
  height: 144px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 70px;
  letter-spacing: -0.03em;
  color: #000000;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.twitter {
  margin-right: 24px;
}
.right {
  width: 20%;
  padding: 80px;
}
.left {
  width: 60%;
  margin-left: 110px;
  margin-top: -65px;
}
.immg {
  width: 364px;
    height: 415px;
    border-radius: 50%;
    /* top: 307px; */
    margin-left: -40px;
    margin-top: -66px;
}