.bodyWrapper {
  display: flex;
  justify-content: space-between;
  height: 450px;
  padding: 0 8%;
}
.there {
  margin-top: 100px;
  margin-bottom: 12px;
  width: 86px;
  height: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #2351dc;
}
.name {
  margin-bottom: 12px;
  width: 385px;
  height: 33px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #2351dc;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.themes {
  width: 591px;
  height: 144px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 1.875em;
  line-height: 70px;
  letter-spacing: -0.03em;
  color: #000000;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.twitter {
  margin-right: 24px;
}
.right {
  width: 20%;
  padding: 80px;
}
.left {
  width: 60%;
}
.immg {
  width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-left: -20px;
}
@media only screen and (max-width: 600px)  {
  .bodyWrapper {
      width: 980px;
  }
}