.abouts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F6F8FE;
    padding: 80px 0;
}
.twitter {
    margin: 0 5px;
}
@media only screen and (max-width: 1150px)  {
    .abouts {
        width: 1230px;
        padding: 0 1%;
    }
}