.HeaderWrapper {
    width: auto;
    padding: 5% 8%;
    display: flex;
    justify-content: space-between;
}

.Title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 1.875em;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-right: 98px;
}
nav {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 400;
}
a:link {
    text-decoration: none;
    margin-right: 30px;
}
a:hover {
    color: rgb(196, 255, 206);
}
.twitter {
    margin-right: 24px;
}
@media only screen and (max-width: 1200px)  {
    .HeaderWrapper {
        width: 1010px;
    }
}