.HeaderWrapper {
    width: 90%;
    padding: 5% 5%;
    display: flex;
    justify-content: space-between;
}
.Title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 1.875em;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-right: 98px;
}
nav {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 400;
}
.edit1:link {
    text-decoration: none;
    margin-right: 30px;
}
.edit1:hover {
    color: rgb(196, 255, 206);
}
.twitter {
    margin-right: 24px;
}
@media screen and (max-width: 1150px) {
    .HeaderWrapper {
        width: 98%;
        padding: 5% 1%;
    }
    .IconWrapper {
        width: 15%;
        display: flex;
        gap: 15px;
    }
}