.LefttWrapper {
    width: 30%;
    background: #1C41B0;
    padding: 80px;
}
.textt {
    width: 300px;
    /* height: 126px; */
    margin-top: 50%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 63px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.ContctWrapper {
    display: flex;
    height: 700px;
}
.RighttWrapper {
    width: 70%;
    padding: 80px;
}