.FooterWrapper {
  background: #07102c;
  color: white;
  padding: 5% 5% 1.5% 5%;
}
.FooterContentWrapper {
  display: flex;
  justify-content: space-between;
}
.columnTwo  {
  width: 40%;
  height: 1px;
  background: grey;
  margin-top: 12px;
}
.columnThree {
  width: 40%;
  height: 1px;
  background: grey;
  margin-top: 12px;
}
.text {
  font-family: "Manrope";
  font-style: normal;
  width: 300px;
  text-align: center;
  font-weight: 800;
  font-size: 1.4em;
}
.Iconn{
  text-align: center;
  margin-top: 20px;
}
.copy{
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
  font-size: 0.8em;
  font-style: normal;
}
@media only screen and (max-width: 1200px)  {
  .FooterWrapper {
      width: 1200px;
      border-bottom: 5%;
  }
  .text {
    width: 700px;
  }
  .FooterContentWrapper {
    width: 100%;
  }
}


