.services {
    width: fit-content;
    padding: 80px;
    background-color: #fbfcfe;
}
.render{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    row-gap: 20px;
}
@media screen and (max-width: 1150px) {
    .services{
        width:1060px;
    }
    .render {
        width: auto;
        height: auto;
        grid-template-columns: 1fr 1fr;
        row-gap: 3%;
    }
  }

