.services {
    width: fit-content;
    padding: 80px;
}
.render{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    row-gap: 20px;
}
@media only screen and (max-width: 768px)  {
    .render {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        row-gap: 2%;
    }
  }

